:root {
	--companion-name-font-size: 3vh;
	--last-message-text-font-size: 2vh;
}

.chat_elem {
	display: inline-flex;
	min-height: 11vh;
	flex-direction: row;
	line-height: 11vh;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	text-decoration: none;
	color: inherit;

	&:focus,
	&:hover {
		transition: 0.1s;
		background: rgba(0, 0, 0, 0.2);
	}

	&:active {
		transition: 0.2s;
		background: rgba(0, 0, 0, 0.3);
	}
}

.companion_img {
	color: rgb(156, 51, 255);
	height: 100%;
	line-height: 11vh;
	align-self: center;
	margin-left: 1vh;
}

.companion_logo {
	width: 7vh;
	height: 90%;
	fill: currentColor;
	padding-top: 5%;
}

.text_info {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	flex-direction: row;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-left: 2vh;
}

.message_preview {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding-right: 2vh;
	overflow: hidden;
}

.companion_name {
	line-height: 4vh;
	font-size: var(--companion-name-font-size);
	font-weight: 550;
	overflow: hidden;
}

.lastmessage_text {
	line-height: 4vh;
	font-size: var(--last-message-text-font-size);
	color: rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.lastmessage_info {
	display: flex;
	line-height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin-right: 3vh;
}

.lastmessage_time {
	line-height: 4vh;
	font-size: var(--last-message-text-font-size);
}

.indicator {
	color: var(--main-bg-color);
}

.tick {
	width: 3vh;
	height: 3vh;
	fill: currentColor;
}
